
mat-toolbar{
   position: fixed;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 0;
}

mat-toolbar div div span{
    
    color: #ff8308 ;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline;
/* vertical-align: bottom; */
    display: inline;
    margin-left: 10px;
    }

   

.toolbar{
    background-color: #231c07;
}
.toolbar .logo{
    display: inline-block;
    padding: 6px 10px 3px 0;
    border-right: 1px solid #3c3724;
    
}

mat-toolbar div div{
line-height: normal;
text-align: center;
font-weight: 400;
font-size: .875rem;
display: flex;
align-items: center;
margin-left: 940px;
/* display: inline; */
color:#fff;
}

@media only screen and (max-width: 768px){
    mat-toolbar div div{
        line-height: normal;
        text-align: center;
        font-weight: 400;
        font-size: .875rem;
        display: flex;
        align-items: center;
        margin-left: 10px;
        /* display: inline; */
        color:#fff;
    }
  
}
