<div class="container-fluid loadingSpinner" *ngIf="loading else loaded">
    <div class="load">

        <p>Authenticating..
            <mat-progress-spinner [diameter]='size' [value]="val" mode="indeterminate"></mat-progress-spinner>
        </p>
    </div>
</div>


<div class=" container-fluid loadingSpinner" *ngIf="loading1 else loaded1" #loaded>
    <div class="load" >
        <p>Fetching Data..
            <mat-progress-spinner [diameter]='size' [value]="val" mode="indeterminate"></mat-progress-spinner>
        </p>
    </div>
</div>

<ng-template class="container-fluid" #loaded1>
    <div class="row mr-0">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <app-toolbar></app-toolbar>
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row mr-0">
        <div [class]='cls'>
            <app-left-menu></app-left-menu>
        </div>


        <div class="col-lg-4 col-md-12 col-sm-12 pl-0 pr-0">
            <app-right-menu [qData]="this.rootCase"></app-right-menu>
        </div>
    </div>


</ng-template>

