/* @import '~perfect-scrollbar/css/perfect-scrollbar.css'; */

.left-menu {
   /* width: 66.666%; */
   /* position: absolute; */
   height: 610px;
   background-color: white;
   
   
}



.overflow{
    overflow: scroll;
    height: 560px;
}


.expand{
    margin-left: 200px;
    margin-right:200px;
}

/* .left-menu.expand{
   width:99.999%;
   position: absolute;
   height: 700px;
   background-color: white;
   overflow: scroll;

} */

.left-menu .menu-title{
    padding: 14px 24px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 hsla(0,0%,81%,.5);
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    position: static;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    overflow-wrap: normal;
    
}

.left-menu .menu-title img{
width: 20px;
height: 20px;
margin-left: 780px;
margin-right: 20px;
cursor: pointer;
position: absolute;

}


.case-study{
    padding: 25px 80px 25px 25px;
    position: relative;
    background: #fff;
    opacity: .8;
    color: #000;
    min-height: 70vh;
     }

.case-study-bullets {
    position: absolute;
    top: 15%;
    /* transform: translateY(50%); */
    right: 6.5%;
    z-index: 10;
}

 .bullets-position {
    position: absolute;
    top: 15%;
    /* transform: translateY(-50%); */
    right: 21%;
    z-index: 10;
   
}



.case-study-bullets ul{
overflow: visible;
display: block;
min-height: 300px;
}

.case-study-bullets ul li.click-prev {
    transform: rotate(180deg);
    display: flex;
}

.case-study-bullets ul li {
    display: flex;
    position: relative;
    min-height: 1.25rem;
    min-width: 1.8125rem;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    align-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    color: #737373;
}

.case-study-bullets ul li a {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    cursor: pointer;
    background: #737373;
    margin: 0;
    
}

.case-study-bullets ul li a span{
    display: none;
}

.case-study-bullets ul li a.active {
text-align: center;
width: 1.8125rem;
height: 1.8125rem;
padding: .3125rem;
border-radius: 50%;
z-index: 10;
border: 2px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
border-color: #737373;
background: none;
cursor: pointer;
color:#737373;

}




.case-study-bullets ul li a.active span {
    display: block;
}
.case-study p{
    font-size: 14px;
line-height: 20px;
text-align: justify;
}

.case-study p ol li{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.case-study .header{
    font-weight: bold;
}

.pages{
    padding: 0 20px;
    min-height: 70vh;
}
#page-1{
    background: #aac5ae;;  
}

#page-2{
    background: #72584d;;
  
}

#page-3{
    background: #f66;
    
}

#page-4{
    background: #aac5ae;
  
}
#page-5{
    background: #aac5ae; 
}

#page-6{
    background: #72584d; 
  
}

#page-7{
    background: #faf4c1;
}
  


#page-8{
    background: #f66;
  
}

#page-9{
    background: #aac5ae;
  
}


 .click-prev
     {
    content: "";
    padding: .90625rem;
    background: #fff url("/assets/arrow_image.png") no-repeat !important;
        background-position-x: 0%;
        background-position-y: 0%;
    background-position: 50% !important;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
}


 sn-scroll-spy-section {
    display: inline;
    /* position: relative; */
 }
.click-next{
    
        content: "";
        padding: .90625rem;
        background: #fff url("/assets/arrow_image.png") no-repeat !important;
            /* background-position-x: 0%;
            background-position-y: 0%; */
        background-position: 50% !important;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
        margin-top: 10px;
        border-radius: 50%;
        cursor: pointer;
    
}

.horizontal-btn{
    width: 50px;
    height: 150px;
    background:#fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    right: 0;
    top: 140px;
    cursor: pointer;
}
.horizontal-btn span{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transform: rotate(-270deg);
    display: block;
    line-height: 100px;
    
}


