<div class="right-menu" [ngClass]="expansionStatus?'hideClass':'' ">
   <div class="title">Questions</div>

   <div class="questions">
      <!-- <button (click)="start()">Click</button> -->

      <mat-accordion multi="false">

         <div *ngFor="let quest of questionArray; let i=index">


            <mat-expansion-panel (click)="fire($event)" hideToggle="true" (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
               <mat-expansion-panel-header>
                  <span>{{i+1}}</span>
                  <p [innerHTML]=quest.body></p>

                  <div class="edit-btn" *ngIf="!panelOpenState1">
                     <button mat-button>Edit</button>
                  </div>
               </mat-expansion-panel-header>
               <div class="text-editor">
                  <quill-editor [(ngModel)]="length" (onContentChanged)="textChanged1($event)" class="ng-valid ng-dirty ng-touched"
                     customToolbarPosition="bottom">
                     <div quill-editor-toolbar class="ql-toolbar ql-snow">
                        <span class="ql-formats">
                           <button class="ql-bold" [title]="'Bold'"></button>
                           <button class="ql-italic"></button>
                           <button class="ql-underline"></button>
                           <button class="ql-indent" value="-1"></button>
                           <button class="ql-indent" value="+1"></button>
                           <button class="ql-align" value=""> </button>
                           <button class="ql-align" value="center"> </button>
                           <button class="ql-align" value="right"> </button>
                           <button class="ql-list" value="ordered"></button>
                           <button class="ql-list" value="bullet"></button>
                        </span>
                     </div>

                  </quill-editor>
                  <div id="toolbar-0">
                     <button mat-button>Update</button>
                  </div>
               </div>
            </mat-expansion-panel>
         </div>




      </mat-accordion>
      <div class="submit-btn ">
         <button mat-button (click)="openDialog()">Submit Assessment</button>
      </div>





      <!-- </perfect-scrollbar> -->

   </div>

</div>