@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";


.right-menu{
background: #fff;
 box-shadow: 0 0 9px 0 #9b9b9b;
position: relative;
/* float: right; */
/* width: 33.3333%; */
margin-top: 63px;
/* position: fixed; */


}

.hideClass{
    visibility: hidden;
}

.right-menu .title{
padding: 14px 24px 0;
background-color: #fff;
position: relative;
text-transform: uppercase;
font-weight: 600;
font-size: 18px;
margin-bottom: 20px;

}

mat-expansion-panel{

border-bottom: 1px solid #c8c8c8;
width: 100%;

}

.mat-expansion-panel-spacing {
    margin: 0px 0 !important;
        
}


.load p{
    background-color: orange;
}
mat-accordion{
    overflow: scroll;
    scroll-behavior: auto;
    
}

.questions{
max-height: 500px;
overflow: scroll;
scroll-behavior: auto;
scroll-behavior: smooth; 
}

mat-expansion-panel-header{
/* display: flex; */
flex-shrink: 0;
flex-grow: 0;
align-items: baseline;
position: relative;
height: 100% !important;
}

mat-expansion-panel-header span {
font-size: 14px;
line-height: 17px;
color: #737373;
margin: 5px 0;
padding-right: 5px;
margin-top: 25px;
}

mat-expansion-panel-header p{
font-size: 14px;
line-height: 17px;
color: #737373;
margin: 5px 0;
padding-right: 5px;
margin-top: 25px;

}


.edit-btn{
font-size: 14px;
line-height: 3px;
font-weight: 200;
font-weight: normal;
color: #737373;
margin: 5px 0;
padding-right: 5px;
position: absolute;
right: -10px;
top: 0;
width: 18%;
height: 75%;
background: #fff;
text-align: center;
box-shadow: -30px 0 30px 0 #fff;
cursor: pointer;
}

.edit-btn button{
    display: inline-block;
border: 1px solid #333;
width: 40px;
border-radius: 13px;
padding: 8px 6px;
margin-top: 25px;

}



.text-editor{
height: 180px;
opacity: 1;
position: relative;
transition: all .5s ease;
}


quill-editor{
display: flex;
flex-direction: column-reverse;
display: block;
height: 140px !important;

}

#toolbar-0 button{


position: absolute;
right: 4px;
bottom: 10px;
margin-top: 0;


}

#toolbar-0 button{
    font-size: 14px;
border: 0;
background: none;
color: #ff8308;
outline: none;
cursor: pointer;
letter-spacing: 1px;
font-weight: 600;
}

.submit-btn button{
margin-top: 20px;
margin-right: 10px;
width: 200px;
color: #fff;
background: #ff8308;
font-size: 16px;
height: 40px;
box-shadow: none;
border-radius: 0;
text-align: center;
float: right;
letter-spacing: unset;
line-height: 40px;
cursor: pointer;
white-space: nowrap;
}


