/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "/assets/metropolis/Metropolis-Black.otf"; */

body{
overflow-y: hidden;
font-family: 'MetropolisRegular'!important;
font-weight: 400;
}

@media only screen and (max-width: 768px){
    body{
        overflow-y: scroll;
        overflow-x: hidden;
        max-width:100%;
        
     
font-family: 'MetropolisRegular'!important;
font-weight: 400;
    }

}

@font-face{
    font-family: 'MetropolisRegular';
    src: url("assets/metropolis/Metropolis-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

